{% extends "GloryCategoryBundle::layout.html.twig" %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}

{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
                {% for type in types %}
                    <tr>
                        <td>{{type.name}}</td>
                        <td>
                            <a href="{{path('glory_category_add',{id:type.id})}}" class="btn btn-default">添加</a>
                            <a href="{{path('glory_category_edit',{id:type.id})}}" class="btn btn-default">编辑</a>
                            <a href="{{path('glory_category_delete',{id:type.id})}}" class="btn btn-default">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="box-footer clearfix">
            <a href="{{path('glory_category_create')}}" class="btn btn-primary">创建类型</a>
        </div>
    </div>
{% endblock %}